# Defines plugins to load

# Define plugin folder
PluginFolder=Plugins

# Define D3D rendering implementation plugin
Plugin=RenderSystem_GL.dll
Plugin=RenderSystem_Direct3D9.dll
Plugin=Plugin_ParticleFX.dll
Plugin=Plugin_BSPSceneManager.dll
Plugin=Plugin_OctreeSceneManager.dll
Plugin=Plugin_CgProgramManager.dll
#Plugin=OgreOggSound.dll
Plugin=Plugin_OctreeZone.dll
Plugin=Plugin_PCZSceneManager.dll