[Bootstrap]
Zip=Media/packs/OgreCore.zip

# Resource locations to be added to the default path
[General]
FileSystem=Media
FileSystem=Media/Materials/Scripts
FileSystem=Media/Materials/Textures
FileSystem=Media/Models
FileSystem=Media/Packs
#FileSystem=../cegui
#FileSystem=../cegui/datafiles
#FileSystem=../cegui/datafiles/configs
#FileSystem=../cegui/datafiles/fonts
#FileSystem=../cegui/datafiles/imagesets
#FileSystem=../cegui/datafiles/layouts
#FileSystem=../cegui/datafiles/looknfeel
#FileSystem=../cegui/datafiles/lua_scripts
#FileSystem=../cegui/datafiles/schemes
#FileSystem=../cegui/datafiles/xml_schemas
#FileSystem=Media/gui
#FileSystem=Media/gui/datafiles
#FileSystem=Media/gui/datafiles/fonts
#FileSystem=Media/gui/datafiles/imagesets
#FileSystem=Media/gui/datafiles/layouts
#FileSystem=Media/gui/datafiles/looknfeel
#FileSystem=Media/gui/datafiles/lua_scripts
#FileSystem=Media/gui/datafiles/schemes
#FileSystem=Media/gui/datafiles/configs
#Zip=Media/packs/cubemap.zip
#Zip=Media/packs/cubemapsJS.zip
#Zip=Media/packs/dragon.zip
#Zip=Media/packs/fresneldemo.zip
#Zip=Media/packs/ogretestmap.zip
#Zip=Media/packs/skybox.zip
#Zip=Media/packs/chiropteraDM.pk3
FileSystem=Media_extra
